<h3>Add Animal</h3>
<div class="col-md-3">
  <form action="/animal/new/add" method="post">
      <div class="form-group">
        <label for="name">Animal Name:</label>
        <input id="name" name="name" type="text" class="form-control" placeholder="Name">
      </div>
      <button type="submit" class="btn btn-success">Add Animal</button>
  </form>
</div>
