<h3>Add Endangered Animal</h3>
<div class="col-md-3">
  <form action="/endangered-animal/new/add" method="post">
      <div class="form-group">
        <label for="name">Endangered Animal Name:</label>
        <input id="name" name="name" type="text" class="form-control" placeholder="Name">
      </div>
      <button type="submit" class="btn btn-success">Add Endangered Animal</button>
  </form>
</div>
